html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-body;
  color: $black;
  background: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  margin-bottom: 0.5em;
  color: $black;
}

.logo {
  letter-spacing: 0.3rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.view-container {
  padding: $container-padding;
}

.page-wrapper {
  max-width: 60vw;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .page-wrapper {
    max-width: 80%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .page-wrapper {
    max-width: 85%;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .page-wrapper {
    max-width: 90%;
  }
}
@media (max-width: 575.98px) {
  .page-wrapper {
    max-width: 95%;
  }
}
