.create-barcode-wrapper {
  width: 60vw;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 2rem;
}

.radio-button-wrapper input[type="radio"] {
  display: none;
}

.active-button {
  background-color: #bbb !important;
}

.radio-button-wrapper label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

.radio-button-wrapper {
  display: block;
  text-align: right;
}

.home {
  padding-top: 30px;
}
.create-category-input {
  width: 30%;
}

.create-category-button {
  width: 20%;
  font-size: 1rem;
}

.button-row {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.rows {
  display: flex;
  justify-content: center;
}

.form-numbers {
  width: 20%;
  padding: 20px;
}

.form-top-padding {
  padding-top: 10px;
}

.barcode-wrapper {
  text-align: center;
}

.button-wrapper {
  text-align: center;
  padding-top: 20px;
}
.create-item-button {
  width: 25%;
  font-size: 1rem;
}
.item-desc-section {
  padding: 20px;
  width: 40%;
}

.text-height {
  height: 90%;
}

.name-section {
  padding: 20px;
  width: 20%;
}

.category-section {
  padding: 20px;
  width: 40%;
}

.section-title {
  display: block;
}

.create-category-table {
  overflow: hidden;
  overflow-y: scroll;
  height: 15rem;
  width: 50%;
}

.create-category-header {
  text-align: center;
  padding-top: 3rem;

  h2 {
    color: $color-main;
    font-size: 1.9rem;
  }
}

.category-table-wrapper {
  display: flex;
  justify-content: center;
}

.error-asterik {
  color: $error-color;
}
