.create-barcode-wrapper {
  width: 60vw;
  margin: auto;
  padding-top: 10vh;
}

.radio-button-wrapper input[type="radio"] {
  display: none;
}

.radio-button-wrapper label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}


.radio-button-wrapper input[type="radio"]:checked+label {
  background-color: #bbb;
}

.radio-button-wrapper{
  float: right;
}

.create-item-form{

}

.rows{
 display: flex;
 justify-content: center;
}

.form-numbers{
  width: 20%;
  padding: 20px;
}

.form-top-padding{
  padding-top: 10px;
}

.barcorde-wrapper{
  text-align: center;
}

.button-wrapper{
  text-align: center;
  padding-top: 20px;
}
.create-item-button{
  width: 25%;
}
.item-desc-section{
 padding: 20px;
 width: 40%;
}

.text-height{
  height: 90%;
}

.name-section{
  padding: 20px;
  width: 20%;
}

.category-section{
  padding: 20px;
  width: 40%;
}

.section-title{
  display: block;
}