input,
select,
textarea {
  /* styles go here */
  padding: 10px 12px;
  font-size: 20px;
  font-family: $font-body;
  display: block;
  width: 100%;
  border: 1px solid $color-secondary;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 0.3em;
  background-color:white;

}

.button {
  background-color: $color-main;
  border: none;
  color: white;
  width: 100%;
  font-family: $font-body;
  transition: 1s;
  display: inline-block;
  justify-content: center;
  padding: 10px 15px;
  font-size: 16x;
  border-radius: 0.3em;
  -webkit-appearance: none;
  cursor: pointer;
}

.button:disabled {
  background: $grey;
  transition: 1s;
}

.au-input,
.au-button {
  margin-bottom: .4em;
}

.registration-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 25vh;
}

.message {
  font-size: 20px;
  font-family: $font-header;
}

.error-message {
  color: $error-color;
  font-size: 20px;
  font-family: $font-header;
}

