.big_button {
  padding: 1.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
}

.table_holder {
  margin: 0 1rem;
  padding-bottom: 25px;
}

.jumbotron-mini {
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  color: 'white';
  cursor: pointer;
  background-color: $color-main;
}

.home-wrapper {
  margin: auto;
  max-width: 60vw;
}

.last-five-wrapper {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

table{
  width: 100%;
}

th{
  background-color: #4a6eb5;
  color: #ffffff
}
th,td{
  text-align: left;
  padding: 15px;

}

tr:nth-child(even) {background-color: #f2f2f2;}


.attention-needed-header {
  background-color: $color-main;
}

.white-header{
  color: white;
}
