.big_button {
  padding: 1.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
}

.table_holder {
  margin: 0 1rem;
}

.jumbotron-mini {
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  cursor: pointer;
}

.home-wrapper {
  margin: auto;
  max-width: 75vw;
}

.last-five-wrapper {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

table{
  width: 100%;
}

th{
  background-color: #314877;
  color: #dddddd
}
th,td{
  text-align: left;
  padding: 15px;

}

tr:nth-child(even) {background-color: #f2f2f2;}