.big_button {
  padding: 1.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
}

.table_holder {
  margin: 0 1rem;
}

.jumbotron-mini {
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  background-color: $header-color;
  cursor: pointer;
}

<<<<<<< HEAD
.home-wrapper {
  margin: auto;
  max-width: 75vw;
}

.last-five-wrapper {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

table{
  width: 100%;
}

th{
  background-color: #314877;
  color: #dddddd
}
th,td{
  text-align: left;
  padding: 15px;

}

tr:nth-child(even) {background-color: #f2f2f2;}
=======
.attention-needed-header {
  background-color: $error-color;
}
>>>>>>> 0ba47ce09900500900f14649957f3e8ac6c1e743
