.navigation {
  background-color: $color-main;
  padding: $container-padding;
  font-family: $font-header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  li {
    margin: 0 0.25em;
    padding-right: 2rem;
    text-transform: uppercase;
    a {
      color: white;
      transition: 0.5s;
      font-size: 1em;
    }
    a:hover {
      color: $color-secondary;
    }
  }
}

.signout {
  cursor: pointer;
  color: white;
  font-size: 0.9em;
}

.signout:hover {
  color: $color-secondary;
}
