.search-button-wrapper {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-report {
  padding: 0.75rem 2.5rem;
}

.search-input-wrapper {
  text-align: center;
  padding-right: 1rem;
}

.edit-button {
  background-color: #4a6eb5;
  margin-right: 0.5rem;
}

.delete-button {
  background-color: red;
}

.table-buttons {
  display: flex;
}

.inventory-report-cat-header {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: auto;
}

.inventory-title {
  font-size: 4rem;
  margin-bottom: 0rem;
}

.search-row-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-search-wrapper {
  padding-bottom: 4rem;
}

.flex-report-parent {
  display: flex;
  justify-content: center;
  position: relative;
}

.pencil-icon {
  font-size: 2rem;
}

.csv-box {
  text-align: center;

  a {
    color: $color-main-light;
    font-size: 1.25rem;
  }
}

.pencil-div {
  position: absolute;
  right: 1%;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .report-wrapper {
    max-width: 80%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .report-wrapper {
    max-width: 85%;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .report-wrapper {
    max-width: 90%;
  }
  .inventory-report-cat-header {
    display: block;
  }
  .pencil-div {
    display: none;
    position: static;
    //padding-left: 1rem;
  }
}

@media (max-width: 575.98px) {
  .report-wrapper {
    max-width: 95%;
  }
}
