.report-wrapper {
  max-width: 60vw;
  margin: auto;
  margin-top: 3rem;
}

.search-button-wrapper{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.search-report{
  width: 25%;
  padding: .75rem 2.5rem;
}

.search-input{
  margin-left: 18rem;
}

.search-input-wrapper{
  text-align: center;
  //padding-right: 10rem;
  width: 30rem;
}

.edit-button{
  background-color: #4a6eb5;
}

.delete-button{
  background-color: red;
  margin-right: .5rem;
}

.table-buttons{
  display: flex;
}

.inventory-title {
  font-size: 4rem;
  padding-top: 2rem;
  margin-bottom: 0rem;
}

.trend-report-title {
  font-size: 4rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.search-row-one {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.table-search-wrapper {
  padding-bottom: 4rem;
}