.scan-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10vh;
}

.scan-input {
  margin-top: 1em;
}

.scan-submit-button {
  margin-top: 2em;
  width: 50%;
}

.scan-form {
  text-align: center;
}

.scan-form-buttons {
  display: flex;
}

.scan-button {
  margin: 0.5rem;
  background-color: $grey;
}

.show-text {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.text-center {
  color: $color-main;
  font-size: 3rem;
  text-align: center;
}

.scan-input-row {
  display: flex;
  justify-content: space-evenly;
}

.scan-barcode {
  width: 70%;
}

.scan-count {
  width: 15%;
}

.scan-title {
  font-size: 3rem;
}

.active-scan-button {
  background-color: $color-main-light;
}

.response-data {
  text-align: center;
  padding: 1rem 0 0 0;
  font-size: 1.75rem;
  color: $color-main;
  li {
    padding-bottom: .5rem;
  }
}
