.trend-report-wrapper {
    margin: auto;
    max-width: 60vw;
  }

  .row-one-trend-report{
    display: flex;
    justify-content: center;
  }

  .start-input-wrapper{
    padding-right: 15px;

  }

  .end-input-wrapper{
    padding-left: 15px;
  }

  .row-two-trend-report{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .item-search-button{
    width: 20%;
  }