.trend-report-wrapper {
    margin: auto;
    max-width: 60vw;
  }

  .row-trend-report{
    display: flex;
    justify-content: center;
    text-align: center;
    //padding-top: 15px;
    //padding-bottom: 15px;
  }

  .start-input-wrapper{
    padding-right: 15px;

  }

  .end-input-wrapper{
    padding-left: 15px;
  }

  .item-search-button{

  }