// COLOR VARS
// $color-main: rgba(244, 151, 108, 1);
$color-main: #002e5d;
$color-main-faded: rgba(244, 151, 108, 0.5);
$color-secondary: #fbebb2;
// $color-tertiary: #4e789c;
$color-tertiary: #ff8c00;
$black: #444;
$body-color: RGB(240, 248, 255);
$body-color: white;
$grey: grey;
$item-height: 62px;
$item-margin: 14px;

//TYPOGRAPHY BETS
$font-body: "Montserrat", sans-serif;
$font-header: "Lato", "sans-serif";

//LAYOUT VARS
$container-padding: 1em;
$max-width: 1200px;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
